/* CSS RESET
=================================== */
* { box-sizing: border-box; transition: all 0.5s ease-in-out; }
html, body, h1, h2, p { padding: 0; margin: 0; font-family: sans-serif; }
html, body { height: 100%; }

.item1 { background: #1abc9c; }
.item2 { background: #3498db; }
.item3 { background: #9b59b6; }
.item4 { background: #34495e; }

.item {
  width: 100px;
  height: 100px;
}

.container {
  padding: 20px;
  /*display: flex;*/
}

.item2{
  /*margin-left: auto;*/
}
